# The URL of your GitHub repository
REPO_URL=https://github.com/hashory/picture-in-picture_for_tver

# A GitHub Personal Access Token (classic) with the 'repo' scope
GITHUB_PAT=your_personal_access_token_here
